{% extends "../blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
    <div class="card card-body">

 <div class="card card-body">
     <form class="form" method="post">
         {% csrf_token %}
         <p class="alert alert-success">Please Enter Following Details To Register</p>
         {{ form|crispy }}
         <div class="row">
             <input type="submit" name="register_customer" class="d-flex mx-auto btn btn-success" value="Login">
         </div>
         <div class="row">
             <p class="text-muted text-primary d-flex mx-auto">Already Have Account??<a href="{% url 'login' %}">SignIn here</a></p>
         </div>

     </form>
 </div>

    </div>
    </div>
{% endblock content %}